@import "variables.scss";

.banner__wrap {
  background: url("../img/head-back-mobile.jpg") no-repeat;
  background-color: #586f89;
  color: #ffffff;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;

  @media (min-width: $tablet-width) {
    position: relative;
    background: url("../img/head-back-tablet.jpg") no-repeat;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 544px;
    padding: 0 20px;
    background: url("../img/head-back-desktop.jpg") no-repeat;
    background-size: cover;
  }
}

.banner__text {
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    margin-left: 384px;
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-left: 450px;
    padding-top: 165px;
  }
}

.banner__span {
  display: inline-block;
  padding: 0 115px 15px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 14px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.banner__head {
  padding: 0 15px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 30px 0 0 0;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    font-size: 50px;
  }
}

.banner__paragraph {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
    padding-top: 20px;
  }
}

.banner__pic {
  margin: 30px 100px 0;
  width: 86px;
  height: 188px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: -275px 20px 0;
    width: 296px;
    height: 648px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 98px;
    left: 98px;
    margin: 0;
  }
}

.banner__img {
  width: 100%;
  height: auto;
}

.banner__form {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 570px;
    height: 300px;
    margin: -300px 0 0 175px;
    padding: 20px;
    background-color: #ffffff;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 440px;
    left: 474px;
    width: 550px;
    height: 297px;
    margin: 0;
    padding: 0;
  }
}

.banner__border {
  @media (min-width: $tablet-width) {
    border: 2px solid #c8dcba;
  }
}

.banner__title {
  @media (min-width: $tablet-width) {
    margin: 45px 300px 0 45px;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    margin: 35px 35px 20px;
    font-size: 18px;
  }
}

.banner__input {
  @media (min-width: $tablet-width) {
    margin: 35px 30px 0 35px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
    color: #a8c48c;
    border: none;
    border-bottom: 2px solid #a8c48c;
    outline: none;

    @media (min-width: $desktop-width) {
      margin-right: 0;
      font-size: 18px;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 22px;
      color: #a8c48c;

      @media (min-width: $desktop-width) {
        font-size: 18px;
      }
    }
  }
}

.banner__buttom {
  @media (min-width: $tablet-width) {
    display: block;
    width: 250px;
    margin: 30px 0 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
  }
}

.banner__btn {
  margin-top: 75px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
