@import "variables.scss";

.guarantee__wrap {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    background-color: #f6f9f3;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 200px 100px 0;
  }
}

.guarantee__head {
  font-size: 24px;
  line-height: 30px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px;
    font-size: 40px;
    line-height: 50px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 200px;
    left: 375px;
    background-color: inherit;
  }
}

.guarantee__title {
  padding: 20px 20px 0;
  font-size: 12px;
  line-height: 20px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 40px 125px;
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 320px;
    left: 430px;
    right: 945px;
    padding: 0;
    text-align: left;
  }
}

.guarantee__inner {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 22px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 260px 0;
    justify-content: flex-start;
  }
}

.guarantee__pic {
  @media (min-width: $desktop-width) {
    margin: 0 45px 0 25px;
    order: 2;
  }
}

.guarantee__img {
  width: 100%;
  height: auto;
}

.guarantee__container {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 414px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: auto 60px 0 85px;
  }
}

.guarantee__text {
  @media (min-width: $tablet-width) {
    position: relative;
    margin: 20px;
    padding: 50px 0 0 50px;
    border: 2px solid #c8dcba;
  }
}

.guarantee__span {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  color: #a4c58c;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -13px;
    left: 50px;
    margin: 0;
    padding: 0 5px;
    background-color: #ffffff;
  }
}

.guarantee__paragraph {
  margin-top: 15px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 20px 15px 0 30px;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 20px 0;
    padding: 0;
  }
}

.guarantee__btn {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 352px;
    margin: auto 0 0 auto;
  }
}
