@import "variables.scss";

.head__wrap {
  margin: 20px auto;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    height: 105px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.head__nav {
  @media (min-width: $desktop-width) {
    margin: 0 375px;
  }
}

.head__item {
  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }
}

.head__item--logo {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.head__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.head__link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.head__link--phone {
  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 23px;

    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: -60px;
      width: 15px;
      height: 15px;
      background: url("../img/icon-phone.svg") no-repeat;
    }
  }
}

.head__img {
  width: 100%;
  height: auto;
}

.head__span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 23px;
    color: #9a9a9a;
  }

  @media (min-width: $desktop-width) {
    text-align: right;
  }
}

.head__span--logo {
  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}

.head__btn {
  position: fixed;
  top: 50%;
  right: 2%;
  width: 25px;
  height: 25px;
  display: none;
  background-color: rgba(164, 197, 140, 0.4);
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: rotate(90deg);
  z-index: 4;

  &:hover,
  &:focus {
    background-color: rgba(164, 197, 140, 1);
    background-image: url("../img/icon-arrow-active.svg");
  }

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.head__btn--show {
  display: inline-block;
}
