@import "variables.scss";

.profit__wrap {
  padding: 50px 10px 0;
  background-color: #f6f9f3;

  @media (min-width: $desktop-width) {
    margin-top: 185px;
    padding: 0 100px 96px;
    background: linear-gradient(to bottom, #ffffff 42%, #f6f9f3 42%, #f6f9f3 100%);
  }
}

.profit__head {
  font-size: 24px;
  line-height: 30px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 875px 0 275px;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
  }
}

.profit__list {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin: 58px 355px 0 260px;
    padding: 30px 0;
    justify-content: space-around;
  }
}

.profit__item {
  position: relative;
  margin: 50px 0 90px;;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 10px 0 20px;
    width: 32%;
    height: auto;
    border: 2px solid #f6f9f3;
  }

  @media (min-width: $desktop-width) {
    width: 309px;
    margin: 0 15px;
    padding: 0;
  }
}

.profit__title {
  font-size: 130px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  color: #ffffff;

  @media (min-width: $tablet-width) {

    display: inline-block;
    font-size: 110px;
    color: #f6f9f3;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    font-size: 150px;
    line-height: 150px;
  }
}

.profit__paragraph {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 20px 0 70px;
    display: block;
    font-size: 14px;
    line-height: 20px;
  }
}

.profit__pic {
  position: absolute;
  display: block;
}

.profit__pic--herb {
  top: 28px;
  left: 108px;

  @media (min-width: $tablet-width) {
    top: 30px;
    left: 69px;
  }

  @media (min-width: $desktop-width) {
    top: 80px;
    left: 123px;
  }
}

.profit__pic--book {
  top: 45px;
  left: 105px;

  @media (min-width: $tablet-width) {
    top: 45px;
    left: 66px;
  }

  @media (min-width: $desktop-width) {
    top: 90px;
    left: 123px;
  }
}

.profit__pic--certificate {
  top: 47px;
  left: 110px;

  @media (min-width: $tablet-width) {
    top: 47px;
    left: 82px;
  }

  @media (min-width: $desktop-width) {
    top: 80px;
    left: 120px;
  }
}

.porfit__img--herb {
  @media (min-width: $tablet-width) {
    width: 63px;
    height: 63px;
  }
}

.porfit__img--book {
  @media (min-width: $tablet-width) {
    width: 72px;
    height: 53px;
  }
}

.porfit__img--certificate {
  @media (min-width: $tablet-width) {
    width: 61px;
    height: 53px;
  }
}
