@import "variables.scss";

.statistics__wrap {
  padding: 0 50px 0 60px;

  @media (min-width: $tablet-width) {
    padding: 0 20px 0 125px;
  }

  @media (min-width: $desktop-width) {
    padding: 325px 0 0;
  }
}

.statistics__list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 20px;
  }
}

.statistics__item {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-width)  {
    margin-top: 90px;
    width: 41%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    margin: 0 15px;
    padding: 0 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: 212px;
  }
}

.statistics__item--europeans {
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.statistics__item--autor {
  padding-right: 70px;

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.statistics__item--index {
  padding-right: 60px;

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.statistics__head {
  color: #a4c58c;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  border-bottom: 2px solid #a4c58c;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      left: -40px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e4eddc;

      @media (min-width: $desktop-width) {
        top: -30px;
        left: -40px;
      }
    }
  }
}

.statistics__span {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-transform: lowercase;
  }
}

.statistics__paragraph {
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}
