@import "variables.scss";

.stories__wrap {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: 85px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
}

.stories__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.stories__info {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.stories__head {
  padding: 0 20px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 80px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 35px;
    line-height: 40px;
    text-align: left;
  }
}

.stories__paragraph {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding: 0 30px 0 0;
    font-size: 16px;
  }
}

.stories__inner {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 45%;
    margin: 0 auto;
    flex-direction: column;
  }
}

.stories__pic {
  @media (min-width: $tablet-width) {
    width: 413px;
    order: 2;
  }
}

.stories__img {
  width: 100%;
  height: auto;
  background-color: #545154;
}

.stories__form {
  @media (min-width: $tablet-width) {
    width: 47%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f6f9f3;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
    padding: 85px 0;
    justify-content: flex-start;
    background-color: #ffffff;
    order: 2;
  }
}

.stories__paragraph--form {
  margin: 0;
  padding: 20px 30px;
  line-height: 22px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 20px 10px;
    font-size: 14px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 0 28px;
  }
}

.stories__input {
  margin: 0 auto 20px;
  padding: 0 74px;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #a8c48c;
  outline: none;
  background-color: #f6f9f3;
  border: none;
  border-bottom: 1px solid #a8c48c;

  &::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: #a8c48c;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 10px;
    padding: 20px 0;
    width: 250px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 28px;
    padding: 40px 0 0;
    background-color: #ffffff;
  }
}

.stories__btn {
  @media (min-width: $tablet-width) {
    margin-top: 50px;
    width: 280px;

  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 0 28px;
    width: 380px;
  }
}

.stories__text {
  margin: 20px 20px 0;
  padding: 20px 10px;
  border-top: 2px solid #7eb252;
  border-bottom: 2px solid #7eb252;

  @media (min-width: $tablet-width) {
    margin: 40px 20px;
    padding: 0 125px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 40px 0;
    text-align: center;
  }
}

.stories__paragraph--quote {
  margin: 0;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px 0 0;
    font-size: 18px;
    line-height: 36px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 24px;
    line-height: 40px;
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-weight: bold;
  }
}

.stories__cite {
  display: inline-block;
  margin-top: 20px;
  padding: 0 45px 20px;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 20px auto 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 30px;
  }
}

.stories__span {
  display: block;
  margin: 0;
  font-size: 12px;
  line-height: 30px;
  color: #9a9a9a;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
