@import "variables.scss";

.stories__wrap {
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }
}

.stories__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.stories__info {
  @media (min-width: $desktop-width) {
    width: 685px;
    margin-left: 375px;
  }
}

.stories__head {
  padding: 0 20px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 120px 80px 0;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 0 0 0;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
  }
}

.stories__about {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 975px;
    padding-left: 275px;
    top: 234px;
    left: 100px;
    background: #f6f9f3;
    z-index: 2;
  }
}

.stories__paragraph {
  margin-top: 20px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding: 0 73px 0 0;
    font-size: 16px;
  }
}

.stories__inner {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 775px;
    margin: 0 100px 0 0;
  }
}

.stories__pic {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.stories__img {
  width: 100%;
  height: auto;
  background-color: #545154;
}

.stories__form {
  @media (min-width: $tablet-width) {
    width: 47%;
    height: 396px;
    flex-grow: 2;
    align-self: flex-end;
    background-color: #f6f9f3;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: -500px;
    width: 428px;
    height: 263px;
    background-color: #ffffff;
  }
}

.stories__paragraph--form {
  padding: 20px 30px;
  line-height: 22px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 60px 90px 0 60px;
    font-size: 14px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 0 28px;
  }
}

.stories__input {
  margin: 0 auto 20px;
  padding: 0 74px;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #a8c48c;
  outline: none;
  background-color: #f6f9f3;
  border: none;
  border-bottom: 1px solid #a8c48c;

  &::placeholder {
    font-size: 14px;
    line-height: 23px;
    color: #a8c48c;
  }

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    padding: 40px 0 0;
    width: 280px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 28px;
    padding: 35px 0 0;
    background-color: #ffffff;
  }
}

.stories__btn {
  @media (min-width: $tablet-width) {
    margin-top: 40px;
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 15px 0 0 28px;
    width: 380px;
  }
}

.stories__text {
  margin: 40px 20px 0;
  padding: 20px 10px;
  border-top: 2px solid #7eb252;
  border-bottom: 2px solid #7eb252;

  @media (min-width: $desktop-width) {
    margin: 200px 575px 0 530px;
    padding: 65px 0 50px;
  }
}

.stories__paragraph--quote {
  margin: 0;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 130px;
    font-size: 18px;
    line-height: 36px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 24px;
    line-height: 40px;
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-weight: bold;
  }
}

.stories__cite {
  display: inline-block;
  margin-top: 20px;
  padding: 0 85px;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding-left: 205px;
    padding-right: 0;
    font-size: 16px;
    line-height: 30px;
  }
}

.stories__span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 30px;
  color: #9a9a9a;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
