@import "variables.scss";

.catalog__head {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 95px;
    padding: 0 200px;
    font-size: 30px;
    line-height: 40px;
  }
}

.catalog__form {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
}


.catalog__field {
  margin: 0;
  padding: 0 10px;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.catalog__field--head {
  text-transform: uppercase;
}

.catalog__list {
  margin: 0;
  padding: 0 20px 0 0;
  list-style: none;
}

.catalog__list--footer {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;

}

 .catalog__item--footer {
   @media (min-width: $tablet-width) {
     width: 40%;
   }
 }

 .catalog__item--footer:nth-child(2n) {
   @media (min-width: $tablet-width) {
     margin-left: 129px;
   }
 }

.catalog__check {
  display: none;
}

.catalog__label {
  padding-bottom: 15px;
  flex-grow: 2;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  border-bottom: 1px solid #a4c58c;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.catalog__span {
  margin-right: 10px;
  color: #a4c58c;
  font-size: 12px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.catalog__check:checked ~ .catalog__span {
  color: red;
}

.catalog__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }
}

.catalog__inner {
  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }
}

.catalog__border {
  @media (min-width: $tablet-width) {
    position: relative;

    margin: -160px auto 0;
    padding: 20px;
    width: 420px;
    height: 200px;
    background-color: #f6f9f3;
  }
}

.catalog__text {
  margin: 20px 10px 0;
  padding: 30px 15px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #a4c58c;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 35px;
  }
}

.catalog__paragraph {
  font-size: 14px;
  line-height: 24px;
}

.catalog__link {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  color: #a4c58c;
  align-self: center;
}

.catalog__btn {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 420px;
  }
}
