@import "variables.scss";

.comment__wrap {
  background-color: #f6f9f3;

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
  }
}

.comment__head {
  padding: 55px 10px 0;
  font-size: 24px;
  line-height: 30px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 140px 10px 0;
    font-size: 30px;
    line-height: 40px;
  }
}

.comment__inner {
  margin-top: 25px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 48px 0 0;
  }
}

.comment__button {
  width: 145px;
  height: 65px;
  font-size: 10px;
  line-height: 18px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 49%;
    height: 70px;
    font-size: 14px;
    line-height: 20px;
  }
}

.comment__button--enable {
  color: #7eb152;
  background-color: #f6f9f3;
}

.comment__button--disable {
  color: #c3c3c3;
  background-color: #ffffff;
}

.comment__list {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 40px 0;
  }
}

.comment__item {
  position: relative;
  margin-bottom: 40px;

  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 31px;
    height: 3px;
    background-color: #7eb152;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.comment__paragraph {
  font-size: 14px;
  line-height: 22px;
  color: #c3c3c3;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.comment__autor {
  font-size: 14px;
  line-height: 36px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.comment__link {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #7eb152;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;
}

.comment__container {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 90px;
  }
}

.comment__container--disable {
  display: none;
}

.comment__btn {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 587px;
  }
}
