@import "variables.scss";

.statistics__wrap {
  padding: 0 50px 0 60px;
  margin-bottom: 45px;
}

.statistics__list {
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.statistics__item {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statistics__item--europeans {
  padding-right: 20px;
}

.statistics__item--autor {
  padding-right: 70px;
}

.statistics__item--index {
  padding-right: 60px;
}

.statistics__head {
  color: #a4c58c;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  border-bottom: 2px solid #a4c58c;
}

.statistics__paragraph {
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px
}
