@import "variables.scss";

.structure__wrap {
  padding: 70px 0 0;
  background-color: #f6f9f3;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.structure__head {
  padding: 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 70px 10px 50px;
    font-size: 30px;
    line-height: 40px;
  }
}

.structure__paragraph {
  position: relative;
  padding: 15px 56px 0 35px;
  font-size: 14px;
  line-height: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 17px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a4c58c;
  }

  @media (min-width: $tablet-width) {
    margin: 0 160px 0 160px;
    padding: 0 0 35px;
    font-size: 16px;

    &::before {
      top: 7px;
      left: -22px;
    }
  }
}

.structure__list {
  @media (min-width: $tablet-width) {
    margin: 0 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.structure__item {
  position: relative;
  margin-top: 10px;
  padding: 0 10px;
  height: 297px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 44%;
    margin-bottom: 30px;
  }
}

.structure__item:last-child {
  @media (min-width: $tablet-width) {
    margin: 0 auto 0 20px;
  }
}

.structure__img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.structure__span {
  display: inline-block;
  font-size: 14px;
  line-height: 27px;
  color: #a4c58c;
  transform: rotate(-90deg);
}

.structure__span--num {
  position: absolute;
  display: block;
  top: 20px;
  left: 5px;
}

.structure__span--text {
  position: relative;
  display: block;
  right: -125px;
}

.structure__span--archangelica {
  bottom: 135px;
}

.structure__span--acaulis {
  bottom: 139px;
}

.structure__span--camphora {
  bottom: 124px;
}

.structure__span--ornus {
  bottom: 124px;
}

.structure__span--molmol {
  bottom: 114px;
}

.structure__span--palmatum {
  bottom: 125px;
}

.structure__span--sativus {
  bottom: 128px;
}

.structure__span--angustifolia {
  bottom: 120px;
}

.structure__span--absinthium {
  bottom: 141px;
}

.structure__span--zedoaria {
  bottom: 128px;
}

.structure__span--venezian {
  bottom: 137px;
}

.structure__span--main {
  position: relative;
  padding: 130px 140px 0 50px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(0);
  z-index: 2;
}

.structure__span--question {
  position: absolute;
  top: 136px;
  left: 83px;
  font-size: 276px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 900;
  transform: rotate(0);
  z-index: 1;
}

.structure__text {
  @media (min-width: $tablet-width) {
    margin: -296px 0 0 400px;
    width: 41%;
    height: auto;
    background-color: #ffffff;
    border: 2px solid #c8dcba;
  }
}

.structure__paragraph--footer {
  padding: 46px 50px;
  line-height: 24px;
  text-align: center;

    &::before {
      display: none;
    }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 51px 0 52px 30px;
    text-align: left;
  }
}

.structure__btn {
  @media (min-width: $tablet-width) {
    width: 310px;
  }
}
